/* Definición de variables globales */
:root,
:host,
.t-iiWAej {
    --colors-black: rgba(10, 19, 60);
    --colors-darkGrey: #5a5a5d;
    --colors-blue: #0A133C;
    --colors-primary: #3D2264;
    --colors-darkPrimary: #1FAACE;
    --colors-fadedPrimary: #3d82e273;
    --colors-shadow1: #3d82e2;
    --colors-shadow2: rgba(0, 0, 0, 0.01);
    --colors-shadow3: rgba(0, 0, 0, 0.02);
    --colors-shadow4: rgba(0, 0, 0, 0.03);
    --colors-shadow6: rgba(0, 0, 0, 0.04);
    --colors-shadow8: rgba(0, 0, 0, 0.05);
    --colors-shadow12: rgba(0, 0, 0, 0.06);
    --colors-shadow16: rgba(0, 0, 0, 0.07);
    --colors-surfaceZ1Light: 0px 2px 4px rgba(0, 0, 0, 0.01), 0px 6px 12px rgba(0, 0, 0, 0.01), 0px 2px 8px rgba(0, 0, 0, 0.08);
    --shadows-shadow1: rgba(0, 0, 0, 0.01);
    --shadows-shadow2: rgba(0, 0, 0, 0.02);
    --shadows-shadow3: rgba(0, 0, 0, 0.03);
    --shadows-shadow4: rgba(0, 0, 0, 0.04);
    --shadows-shadow6: rgba(0, 0, 0, 0.05);
    --shadows-shadow8: rgba(0, 0, 0, 0.06);
    --shadows-shadow12: rgba(0, 0, 0, 0.07);
    --shadows-shadow16: rgba(0, 0, 0, 0.08);
    --colors-surfaceZ1Light: 0px 2px 4px rgba(0, 0, 0, 0.01), 0px 6px 12px rgba(0, 0, 0, 0.01), 0px 2px 8px rgba(0, 0, 0, 0.08);
    --space-1: 1px;
    --space-2: 6px;
    --space-3: 12px;
    --space-4: 16px;
    --space-5: 20px;
    --space-6: 24px;
    --sizes-xxs: 16px;
    --sizes-xs: 24px;
    --sizes-sm: 36px;
    --sizes-md: 42px;
    --sizes-lg: 56px;
    --sizes-xl: 60px;
    --sizes-xxl: 72px;
    --fonts-default: 'Open Sans', sans-serif;
    --fontSizes-1: 13px;
    --fontSizes-2: 15px;
    --fontSizes-3: 18px;
    --fontWeights-1: 400;
    --fontWeights-2: 600;
    --lineHeights-1: 20px;
    --lineHeights-2: 22px;
    --lineHeights-3: 24px;
    --radii-1: 8px;
    --radii-2: 10px;
    --radii-round: 50%;
}

/* Estilos específicos */
.t-eTswqK {
    --colors-primary: #3D2264;
}

.c-gMpNkY {
    display: inline-block;
    box-sizing: border-box;
    padding: 10px 14px;
    border-radius: var(--radii-1);
    font-family: var(--fonts-default);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    overflow-wrap: anywhere;
    position: relative;
    box-shadow: var(--shadows-surfaceZ1Light);
    transition: background 0.3s, box-shadow 0.3s;
}

.c-gMpNkY::after {
    content: '❗';
    font-size: 16px;
    color: var(--colors-warn);
    position: absolute;
    right: -20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: help;
}

.c-gMpNkY .tooltip {
    content: 'Albacea: Persona encargada de cumplir las disposiciones expresadas en un testamento.';
    position: absolute;
    bottom: 150%;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--colors-lightGrey);
    color: var(--colors-black);
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    font-size: 12px;
    font-family: var(--fonts-default);
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s, visibility 0.2s;
}

.c-gMpNkY:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.c-cejRVw {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0 var(--space-3) 0;
    font-family: var(--fonts-default);
    font-size: 0;
    font-weight: 0;
    line-height: 17px;
    color: var(--colors-darkGrey);
}

.c-Mmsau > .c-bwlaNm,
.c-Mmsau > .c-gSBsRr {
    position: relative;
    right: 10px;
    left: auto;
    max-width: 70%;
    align-self: flex-end;
    margin-left: 60px;
}

.c-Mmsau > .c-iBVlvN {
    display: flex;
    justify-content: flex-end;
    padding-left: var(--space-5);
}

.c-Mmsau > .c-iBVlvN button {
    margin-left: var(--space-2);
    padding: 12px 24px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(90deg, #1FAACE, #963CBD); 
    color: white;
    cursor: pointer;
    font-size: var(--fontSizes-2);
    font-weight: var(--fontWeights-2);
    transition: background 0.3s, box-shadow 0.3s;
}

.c-Mmsau > .c-iBVlvN button:hover {
    background: linear-gradient(90deg, #0A133C, #4C338E); 
    box-shadow: 0 0 20px rgba(0, 188, 212, 0.5);
}

.c-PJLV-gJqBfM-from-user {
    position: relative;
    right: 0;
}

.c-Mmsau > .c-bwlaNm .c-kIbiaN,
.c-Mmsau > .c-gSBsRr .c-kIbiaN {
    position: absolute;
    right: 5px;
    top: 0;
}

.c-PJLV-gJqBfM-from-user + .c-kIbiaN {
    position: relative;
    left: -50px;
    top: 0;
}

.vfrc-system-response--actions.c-iBVlvN {
    transform: scaleX(-1);
}

.vfrc-system-response--actions.c-iBVlvN button {
    transform: scaleX(1);
}

/* Estilos generales */
h1.vfrc-header--title.c-kfyIxT {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

a {
    color: var(--colors-blue);
}

/* Contenedor de la burbuja de chat */
.c-Mmsau {
    display: flex;
    justify-content: center; /* Centra las burbujas */
    margin-bottom: 10px; /* Espacio entre burbujas */
}

/* Estilos para las burbujas del chatbot */
.c-Mmsau > .c-bwlaNm,
.c-Mmsau > .c-gSBsRr {
    align-self: flex-start; /* Alinea a la izquierda */
    background-color: #f1f1f1; /* Color de fondo de la burbuja del chatbot */
    margin-right: auto; /* Alinea la burbuja a la izquierda */
    max-width: 70%;
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px;
}

/* Estilos para las burbujas del usuario */
.c-Mmsau > .c-PJLV-gJqBfM-from-user {
    align-self: flex-end; /* Alinea a la derecha */
    background-color: #3D2264; /* Color de fondo de la burbuja del usuario */
    color: white; /* Color de texto de la burbuja del usuario */
    margin-left: auto; /* Alinea la burbuja a la derecha */
    max-width: 70%;
    border-radius: 20px; /* Bordes redondeados */
    padding: 10px;
}
